body {
  font-size: 14px;
}
/* This is the nav bar of the page and the background is yellow */
nav {
  background-color: yellow;
  height: 100px;
  position: fixed;
  width: 100%;
  /* margin-bottom: 80px; */

}

/*This is where we define the style for the sections that hold our divisions  */
section {
  margin: auto;
  padding-top: 120px;
  width: 60%;
}

h1 {
  font-family: sans-serif;
  font-size: 2em;
}

.example, h3 {
  padding-top: 30px;
  text-align: center;
}

h3 {
  font-size: 1.3em;
}

.element {
  background-color: green;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}

/* For the last three divisions on the page, the color has been changed to teal, grouping the objects together */
.alt {
  background-color: teal;
}
